<!DOCTYPE HTML>
{{ with .Site.Params.languageCode }}<html lang="{{ . }}">{{ end }}
	<head>
		<title>{{ .Site.Params.title }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ "fontawesome/css/all.min.css" | absURL }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		{{- $css := .Site.Data.libs.css -}}
		{{ if .IsPage }}{{ printf "<link rel=\"stylesheet\" href=\"//cdn.plyr.io/%s/plyr.css\" integrity=\"%s\" crossorigin=\"anonymous\">" $css.plyr.version $css.plyr.integrity | safeHTML }}{{ end }}
		{{- $ieStyles := resources.Get "scss/ie8.scss" | toCSS | minify -}}
		{{- $ieJs := resources.Get "js/ie/html5shiv.js" | minify -}}
		{{ printf "<!--[if lte IE 8]><script src=\"%s\"></script><link rel=\"stylesheet\" href=\"%s\" /><![endif]-->" $ieJs.RelPermalink $ieStyles.RelPermalink | safeHTML }}
		{{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen" crossorigin="anonymous" />
		{{- range .Site.Params.customCSS -}}
    	<link rel="stylesheet" href="{{ . | absURL }}">
  	{{- end -}}
	</head>
