{{ partial "header" . }}
{{ partial "nav" . }}
{{ partial "banner" . }}

			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">

					{{ if .Params.Services.title }}
					<section class="box special">
            <header class="major">
              {{ range ( last 1 ( where .Site.Pages "Type" "masses" ).ByDate ) }}
                <h2><a href="{{ .Permalink }}">Latest Mass Recorded</a></h2>
              {{ end }}
                <br /><br/>
                {{ range ( last 1 ( where .Site.Pages "Type" "newsletters" ).ByDate ) }}
                  <h2><a href="{{ .Permalink }}">Latest Newsletter</a></h2>
                {{ end }}
            </header>
						{{ partial "map" . }}
					</section>
					{{ end }}

					{{ if .Params.Feature_icons.enable }}
						{{ $tiles := .Params.Feature_icons.tile }}
						{{ $len := (len $tiles) }}
						<a name="feature-icons"></a>
						<section class="box special features">
							<div class="features-row">
								{{ range $index, $key := $tiles}}
									<section>
										{{ if $key.url }}<a href="{{ $key.url | absURL }}"><div>{{ end }}
											<span class="icon major {{ $key.icon_pack }} {{ $key.icon }} accent{{- $key.accent -}}"></span>
											<h3>{{ $key.title }}</h3>
											<p>{{ $key.text | markdownify }}</p>
										{{ if $key.url }}</div></a>{{ end }}
									</section>
									{{ if and (mod $index 2) (lt (add $index 1) $len) }}
											</div>
											<div class="features-row">
									{{ end }}
								{{ end }}
							</div>
						</section>
					{{ end }}

					{{ if .Params.Feature_images.enable }}
						{{ $tiles := .Params.Feature_images.tile }}
						{{ $len := (len $tiles) }}
						<a name="feature-images"></a>
						<div class="row">
							{{ range $index, $key := $tiles }}
								<div class="col-6 col-12-narrower">
									<section class="box special">
										<span class="image featured"><img src="{{ $key.image | absURL}}" alt="" /></span>
										<h3>{{ $key.title }}</h3>
										<p>{{ $key.text | markdownify }}</p>
										{{ if $key.button_text }}
											<ul class="actions special">
												<li><a href="{{ $key.url | absURL }}" class="button alt">{{ $key.button_text }}</a></li>
											</ul>
											{{ end }}
										</section>
									</div>
									{{ if and (mod $index 2) (lt (add $index 1) $len) }}
										</div>
										<div class="row">
									{{ end }}
							{{ end }} {{/* end range $tiles*/}}
					</div>
					{{ end }} {{/* end if Feature_images*/}}

				</section>

        <script>
          $(document).ready(function() {
            $.ajaxSetup({ cache: true });
            $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
              FB.init({
                appId: '{your-app-id}',
                version: 'v2.7' // or v2.1, v2.2, v2.3, ...
              });
              $('#loginbutton,#feedbutton').removeAttr('disabled');
              FB.getLoginStatus(updateStatusCallback);
            });
          });
        </script>

        <script>
          $(document).ready(function() {
            $.ajaxSetup({ cache: true });
            $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
              FB.init({
                appId: '{your-app-id}',
                version: 'v2.7' // or v2.1, v2.2, v2.3, ...
              });
              $('#loginbutton,#feedbutton').removeAttr('disabled');
              FB.getLoginStatus(updateStatusCallback);
            });
          });
        </script>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>
        <div style="margin: auto; width: 75%;padding-left:25%;padding-bottom:100px">
          <h2>Live Streams</h2>
          <div class="fb-page" data-href="https://www.facebook.com/Taughmaconnell-103113594744855//" data-tabs="timeline" data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Taughmaconnell-103113594744855//" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Taughmaconnell-103113594744855//">St Ronans Church</a></blockquote></div>
        </div>


			{{ "<!-- CTA -->" | safeHTML }}
				<section id="cta"><a name="call-to-action"></a>

					<h2>{{ .Params.CTA.heading}}</h2>
					<p>{{ .Params.CTA.message}}</p>
					{{ partial "contact" .}}
				</section>
{{ partialCached "footer" . }}
{{ partial "scripts" . }}
